body {
    margin: auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

a {
    color: #666666;
}

h1 {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    padding: 10px 10px 10px 25px;
    color: #4aaaa5;
}

p {
    color: #777777;
    padding: 10px 25px 10px 25px;
}

.about_image {
    padding: 10px 10px 10px 25px;
    float: left;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.nav_header {
    border-color: #cccccc;
    background: #ffffff;
    position: relative;
    height: 60px;
    width: 960px;
    margin: auto;
    overflow: hidden;
}

.nametag {
    background: #4aaaa5;
    color: #ffffff;
    float: left;
    padding: 15px 15px 15px 20px;
    margin-left: 10px;
    font-size: 25px;
}

.vert_divide {
    float: right;
    padding: 20px;
}

.link {
    float: right;
    padding: 20px;

}

.background_div {
    padding-top: 15px;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #cccccc;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../images/white-waves.png')
}

.body_div {
    width: 960px;
    height: 650px;
    margin: auto;
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
}

#portfolio_body {
    height: 1100px;
}

.linebreak_pipe {
    width: 95%;
    margin: auto;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #666666;
    margin-bottom: 10px;
}

.form_div {
    position: relative;
    padding: 10px 25px 10px 25px;
    font-size: 18px;
    width: 100%;
    line-height: 32px;
}

.form_input1 {
    width: 95%;
    box-sizing: border-box;
}

.form_input2 {
    width: 95%;
    height: 150px;
    box-sizing: border-box;
}

.form_button {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 16px;
    width: 102px;
    height: 32px;
    margin-top: 12px;
}

.form_button:hover {
    background-color: #ffffff;
    color: #4aaaa5;
}

.image_grid {
    position: relative;
    padding: 25px;
}

.img {
    position: absolute;
}

#img_2 {
    left: 250px;
}

#img_3 {
    top: 350px;

}

#img_4 {
    left: 250px;
    top: 350px;

}

#img_5 {
    top: 675px;

}

.bar {
    position: absolute;
    width: 80px;
    padding: 20px 60px 20px 60px;
    background-color: #4aaaa5;
    color: #dddddd;
}

#bar_1 {
    top: 250px;
}

#bar_2 {
    left: 250px;
    top: 250px;
}

#bar_3 {
    top: 575px;
}

#bar_4 {
    left: 250px;
    top: 575px;
}

#bar_5 {
    top: 900px;

}

.footer {
    background: #666666;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
    border-color: #4aaaa5;
    border-width: 8px 0px 0px 0px;
    border-style: solid;
    color: #4aaaa5;
    font-size: 14px;
    text-align: center;
    padding-top: 25px;
}